body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #a58e4377;
}

.birthdayCard {
  position: relative;
  width: 250px;
  height: 350px;
  cursor: pointer;
  transform-style: preserve-3d;
  transform: perspective(2500px);
  transition: 1s;
}

.birthdayCard:hover {
  transform: perspective(2500px) rotate(5deg);
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2),
    0 10px 100px rgba(0, 0, 0, 0.5);
}
.click {
     transform: perspective(2500px) rotate(5deg);
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2),
    0 10px 100px rgba(0, 0, 0, 0.5);
}
a{
    text-decoration: none;
    font-weight: 600;
    margin-left: 3rem;
}
.birthdayCard:hover .cardFront {
  transform: rotateY(-160deg);
}

.birthdayCard:hover .happy {
  visibility: hidden;
}

.cardFront {
  position: relative;
  background-color: #fff;
  width: 250px;
  height: 350px;
  overflow: hidden;
  transform-origin: left;
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2),
    30px 0 50px rgba(0, 0, 0, 0.4);
  transition: 0.6s;
}

.happy {
  font-family: Tahoma, sans-serif;
  text-align: center;
  margin: 30px;
  background-image: linear-gradient(120deg, #ff8656 0%, #bff96e 100%);
  transition: 0.1s;
}

.balloons {
  position: absolute;
}

.balloon-1,
.balloon-2,
.balloon-3,
.balloon-4 {
  position: absolute;
  width: 85px;
  height: 95px;
  border-radius: 50%;
}

.balloon-1 {
  background-color: rgba(255, 40, 90, 0.7);
  left: -10px;
  top: 50px;
}

.balloon-2 {
  background-color: rgba(215, 191, 9, 0.7);
  left: 50px;
  top: 20px;
}

.balloon-3 {
  background-color: rgba(26, 53, 255, 0.7);
  left: 110px;
  top: 50px;
}

.balloon-4 {
  background-color: rgba(49, 86, 98, 0.7);
  left: 170px;
  top: 50px;
}

.balloon-1::before,
.balloon-2::before,
.balloon-3::before,
.balloon-4::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 155px;
  background-color: #48d7ff;
  top: 95px;
  left: 43px;
}

.balloon-1::after,
.balloon-2::after,
.balloon-3::after,
.balloon-4::after {
  content: "";
  position: absolute;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  top: 94px;
  left: 37px;
}

.balloon-1::after {
  border-bottom: 10px solid #ff3e6b;
}

.balloon-2::after {
  border-bottom: 10px solid #23473e;
}

.balloon-3::after {
  border-bottom: 10px solid #03361e;
}

.balloon-4::after {
  border-bottom: 10px solid #71b0b9;
}

.cardInside {
  position: absolute;
  background-color: #fff;
  width: 250px;
  height: 350px;
  z-index: -1;
  left: 0;
  top: 0;
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2);
}

p {
  font-family: "Nunito", cursive;
  margin: 20px;
  color: #333;
}
.text {
    font-size: 0.7rem;
    
}

.name {
  position: absolute;
  left: 150px;
  top: 200px;
  color: #333;
}

.back {
  font-family: Tahoma, sans-serif;
  color: #333;
  text-align: center;
  margin: 30px;
  outline-color: #333;
  outline-style: dotted;
}

@media screen and (max-width: 414px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #a58e4377;
    flex-direction: column;
  }

  .birthdayCard {
    width: 200px;
    height: 280px;
    transform: perspective(2000px);
  }
  a {
    margin-top: 5rem;
  }


}
